<?xml version="1.0"?>
<configuration>

	<spring>
		<context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object type="Poskytovatele.aspx">
				<property name="PoskytovatelRepository" ref="PoskytovatelRepository"/>
			</object>
		</objects>
	</spring>
	
	<system.web>
		<authorization>
			<allow roles="Administrator"/>
			<deny users="*"/>
		</authorization>
	</system.web>

</configuration>
