<?xml version="1.0"?>
<configuration>

	<spring>
		<context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object type="Udalosti.aspx">
				<property name="UdalostRepository" ref="UdalostRepository"/>
				<property name="SpravaUdalostiService" ref="SpravaUdalostiService"/>
			</object>
		</objects>
	</spring>

	<system.web>
		<authorization>
			<allow roles="Poskytovatel"/>
			<deny users="*"/>
		</authorization>
	</system.web>

</configuration>
