<?xml version="1.0"?>
<configuration>

	<spring>
		<context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object type="Udalosti.aspx">
				<property name="UdalostRepository" ref="UdalostRepository"/>
				<property name="SpravaUdalostiService" ref="SpravaUdalostiService"/>
			</object>
			<object type="UpravaUdalosti.aspx">
				<property name="UdalostRepository" ref="UdalostRepository"/>
				<property name="TerminUdalostiRepository" ref="TerminUdalostiRepository"/>
				<property name="SpravaUdalostiService" ref="SpravaUdalostiService"/>
				<property name="SpravaTerminuService" ref="SpravaTerminuService"/>
			</object>
			<object type="PrehledRezervovanychTerminu.aspx">
				<property name="UdalostRepository" ref="UdalostRepository" />
				<property name="TerminRezervaceRepository" ref="TerminRezervaceRepository" />
			</object>
			<object type="PrehledRezervaci.aspx">
				<property name="TerminRezervaceRepository" ref="TerminRezervaceRepository" />
				<property name="RezervaceTerminuRepository" ref="RezervaceTerminuRepository" />
				<property name="RezervaceService" ref="RezervaceService" />
			</object>
			<object type="PrehledKlientu.aspx">
				<property name="KlientRepository" ref="KlientRepository" />
				<property name="PozadavekNaRegistraciKlientaRepository" ref="PozadavekNaRegistraciKlientaRepository" />
				<property name="RegistraceKlientaUPoskytovateleService" ref="RegistraceKlientaUPoskytovateleService" />
			</object>
		</objects>
	</spring>

	<system.web>
		<authorization>
			<allow roles="Poskytovatel"/>
			<deny users="*"/>
		</authorization>
	</system.web>

</configuration>
