<?xml version="1.0"?>
<configuration>

	<spring>
		<context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object type="VyhledavaniUdalosti.aspx">
				<property name="PoskytovatelRepository" ref="PoskytovatelRepository"/>
			</object>
		</objects>
	</spring>

	<system.web>
		<authorization>
			<deny users="?"/>
			<!--<allow users="*"/>-->
		</authorization>
	</system.web>

</configuration>
