<?xml version="1.0"?>
<configuration>

	<spring>
		<context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object type="Prehled.aspx">
				<property name="KlientRepository" ref="KlientRepository"/>
				<property name="RezervaceTerminuRepository" ref="RezervaceTerminuRepository"/>
			</object>
			<object type="VyhledavaniUdalosti.aspx">
				<property name="PoskytovatelRepository" ref="PoskytovatelRepository"/>
				<property name="UdalostRepository" ref="UdalostRepository"/>
			</object>
			<object type="VyhledaniTerminu.aspx">
				<property name="UdalostRepository" ref="UdalostRepository"/>
				<property name="RezervaceService" ref="RezervaceService"/>
			</object>
			<object type="OsobniNastaveni.aspx">
				<property name="KlientRepository" ref="KlientRepository"/>
			</object>
		</objects>
	</spring>

	<system.web>
		<authorization>
			<deny users="?"/>
			<!--<allow users="*"/>-->
		</authorization>
	</system.web>

</configuration>
